/* http://meyerweb.com/eric/tools/css/reset/
   v3.0 | 20180413
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1.5; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 62.5%; }

* {
  box-sizing: border-box; }

.colored-txt {
  color: #216AB2; }

.active {
  color: #216AB2;
  text-decoration: line-through; }

.showText {
  display: block; }

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #3e4040;
  display: flex;
  position: relative; }
  .wrapper .left-side {
    flex: 1 1 auto;
    background-color: #3e4040;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 50px; }
  .wrapper .right-side {
    flex: 5 auto;
    display: flex;
    flex-direction: column;
    background-color: #9b9c9b;
    height: 0;
    overflow: visible; }
    .wrapper .right-side .bottom {
      background: url("../../img/astronaut.png") right/60% no-repeat, linear-gradient(135deg, #3e4040, #181818);
      width: 0%; }

.main-header {
  width: 100%;
  height: 70px; }
  .main-header .header-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7em; }
    .main-header .header-container .title {
      font-size: 1em; }
  .main-header .slide-in {
    display: flex;
    line-height: 70px;
    text-decoration: none; }
    .main-header .slide-in .logo {
      width: 65px;
      height: 55px; }

nav {
  padding: 30px 0;
  font-size: 1.8em; }
  nav li {
    padding: 5px 0; }
    nav li a {
      text-decoration: none; }
      nav li a:hover {
        color: #216AB2; }

.social-container .email::after {
  content: "";
  height: 1px;
  display: block;
  width: 120%;
  border: 0;
  border-bottom: 1px solid #dbdfe9;
  margin: 2em 0; }

.social-container .social-buttons {
  display: flex;
  justify-content: space-around; }
  .social-container .social-buttons .btn {
    font-size: 3.2em; }
    .social-container .social-buttons .btn:hover {
      color: #216AB2;
      transform: scale(1.2); }

.upper {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .upper li.list-number {
    font-size: 1.5rem; }

.counter {
  align-self: center;
  font-size: 15rem;
  color: rgba(62, 64, 64, 0.5);
  z-index: 1; }

.ulist {
  padding: 30px;
  align-self: flex-end; }
  .ulist .line::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #216AB2;
    margin: 6px; }
  .ulist .bottom {
    width: 100%;
    height: 100%; }

main.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  max-width: 650px; }
  main.content .text-content {
    font-weight: 700; }
  main.content .link-content {
    margin-top: 40px;
    font-size: 1.3rem;
    text-decoration: none; }
    main.content .link-content a:first-child {
      margin-right: 30px; }
    main.content .link-content a {
      text-decoration: none; }
    main.content .link-content a:hover {
      color: #216AB2; }
  main.content .link-content::after {
    content: "";
    height: 1px;
    display: block;
    width: 50%;
    border: 0;
    border-bottom: 1px solid #dbdfe9;
    margin: 2em 0; }

p.why-us {
  display: none; }

p.resources {
  display: none; }
