/* http://meyerweb.com/eric/tools/css/reset/
   v3.0 | 20180413
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1.5; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 62.5%; }

* {
  box-sizing: border-box; }

.colored-txt {
  color: #216AB2; }

.active {
  color: #216AB2;
  text-decoration: line-through; }

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #3e4040;
  display: flex; }
  .wrapper .left-side {
    flex: 1 1 auto;
    background-color: #3e4040;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 50px; }
  .wrapper .right-side {
    flex: 5 auto;
    display: flex;
    flex-direction: column;
    background-color: #9b9c9b;
    height: 0; }
    .wrapper .right-side .bottom {
      background-color: #dbdfe9;
      width: 0%; }

.main-header {
  width: 100%;
  height: 70px; }
  .main-header .header-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7em; }
    .main-header .header-container .title {
      font-size: 1em; }
  .main-header .slide-in {
    display: flex;
    line-height: 70px;
    text-decoration: none; }
    .main-header .slide-in .logo {
      width: 65px;
      height: 55px; }

nav {
  padding: 30px 0;
  font-size: 1.8em; }
  nav li {
    padding: 5px 0; }
    nav li a {
      text-decoration: none; }

.social-container .email::after {
  content: "";
  height: 1px;
  display: block;
  width: 120%;
  border: 0;
  border-bottom: 1px solid #dbdfe9;
  margin: 2em 0; }

.social-container .social-buttons .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #dbdfe9;
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 10px; }
