main.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15em;
    max-width: 65rem;

    .link-content {
        margin-top: 4rem;
        font-size: 1rem;
        text-decoration: none;
        a:first-child{
            margin-right: 3rem;
        }
        a{
            text-decoration: none;
        }
        a:hover {
            color: $swatch_7;
        }
    }
    .link-content::after {
        content: "";
        height: 1px;
        display: block;
        width: 50%;
        border: 0;
        border-bottom: 1px solid $swatch_3;
        margin: 2em 0;
    }
    .contacts {
        display: flex;
        .contact:last-child{
            margin-left: 40px;
        }
    }
}

