.upper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li.list-number {
        font-size: 1.5rem;
    }
    // li
    // } 

    
          
}
.counter {
    align-self: center;
    font-size: 15rem;
    color: $greyAlpha;
    z-index: 1;
}
.ulist {
    padding: 30px;
    align-self: flex-end;
    .line::after {
        content: "";
        display: inline-block;
        width: 40px;
        height: 2px;
        background-color: $swatch_7;
        margin: 6px;
}

.bottom {
    width: 100%;
    height: 100%;
}
}
